body {
    background-color: beige;
}

header {
    height: 100px;
    background-color: #FFCC2F;
    border-bottom: 1px black solid;
}

header h1 {
    padding-top: 10px;
    font-weight: bold;
    color: #EF5734;
}

.title {
    font-size: 50px;
}

.img-thumbnail {
    margin-bottom: 15px;    
}

.list-unstyled {
    margin-bottom: 0;
}

.map {
    background: url(images/map.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    height: 450px;
    /*margin-top: 75px;*/
    margin-bottom:55px;
    border: 1px black solid;
}

/*animations*/
div[ng-view].ng-enter {
    -webkit-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}