<div class="container">
    <div class="col-sm-4 col-sm-offset-4">
        <h2>{{ country.countryName }}</h2>
        <div class="panel panel-info">
            <div class="panel-heading text-center">Details</div>
            <dl class="dl-horizontal">
                <dt>Population of Country: </dt>
                <dd>{{country.population | number}}</dd>

                <dt class="text-right">Area (km<sup>2</sup>): </dt>
                <dd>{{country.areaInSqKm | number}}</dd>

                <dt class="text-right">Capital: </dt>
                <dd>{{country.capital}}</dd>

                <tr>
                    <td>Population of Capital : </td>
                    <td>{{capitalPopulation | number}}</td>
                </tr>
                  <!--  <tr>
                        <td>Neighbor Countries : </td>
                        <td>
                            <span ng-if="neighbors.length >= 1" ng-repeat="n in neighbors">
                                {{n}}<span ng-if="n != neighbors[neighbors.length-1]">, </span>
                            </span>
                            <span ng-if="neighbors.length < 1">N/A</span>
                        </td>
                    </tr>-->
            </dl> <!-- /dl-->

</div> <!-- /panel-->
    
        <div class="row">
            <div class="col-sm-6">
                <img class="img-thumbnail" ng-src="http://www.geonames.org/flags/x/{{country.countryCode | lowercase}}.gif" />                
            </div>
            <div class="col-sm-6">
                <img class="img-thumbnail" ng-src="http://www.geonames.org/img/country/250/{{country.countryCode}}.png">
            </div>
        </div>
   
        <a class="btn btn-primary" href="#!/">Home</a>
        <a class="btn btn-primary" href="#!/countries">Browse Countries</a>

    </div> <!-- /col-sm-4 -->
</div> <!-- /container -->